.aboutCard{
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgb(2, 2, 12);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 350px;
  display: inline-block;
}
.aboutCard img {
  max-width: 200px;
}